@charset "utf-8";
.wrap {
    width: 1000px;
    margin: 0 auto;
}
.bi {
    text-align: center;
}
.navi {
    text-align: center;
    font-size: 20px;
    color: #eb89dd;
    word-spacing: 12px;
}

.brand {
    width: 600px;
    margin: 0 auto;
}

.new {
    width: 606px;
    margin: 0 auto;
    font-size: 10px;
}

.title {
    text-align: center;
}

.brand_text {
    text-align: center;
    width: 400px;
    margin: 30px auto; /* border 바깥쪽 여백 */
    padding: 15px; /* border 안쪽 여백 */
    border: 2px solid #333; /* 테두리 */
    font-size: 20px;
    text-transform: uppercase; /* 텍스트-변형 */
}

#footer {
    text-align: center;
}
    /* .delivery {
        font-size: 10;
        text-align: center;
        text-decoration: underline;
    }

    .contact {
        font-size: 20;
        text-align: center;
        color: #d075c3;
        line-height: 1px;
    } */

    .copyright {
        background-color: black;
        color: white;
        padding: 30px 0; /* 상하30, 좌우0 */
        
    }

.top {
    width: 998px;
    border-color: black;
}

.middle {
    width: 998px;
    border-color: black;
}